*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#all{
	width: 100%;
	height: 100%;
	margin: auto;
}
#header{
	width: 100%;
	height: 150px;
	background: #AD1010;
}
#bar{
	width: 960px;
	height: 150px;
	margin: auto;
	background: violet;
}
.name{
	width: 200px;
	height: 50px; 
	background: white;
	margin:	50px 10px;
}
#content{
	width: 100%;
	height: 700px;
	background: #B1ADB2
}
#footer{
	width: 100%;
	height: 100px;
	background: #020202
}